.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(252, 6, 6, 0.447);
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1;
    grid-row: 3;
    margin: auto ;
    margin-bottom: 100px;
  }
  .container>h2{
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to right, #ff007f, #6a00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  .graduation{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(6, 104, 252);
    max-width: 600px;
    
    margin-left: 10px ;
    margin-bottom: 50px;
  }
  .graduation >h3{
    font-size: 1.5rem;
  }
  .graduation >section{
    margin:10px;
  }
  .graduation> section > p{
    margin: 10px;
    gap: 10px;
  }

  .graduation section {
    margin-left: 20px;
  }
  
  .graduation h5 {
    font-size: 1.2rem;
    color: #f6dfdfee;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  .graduation h5 > b {
    margin-left: 10px;
  }
  
  .graduation:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 1px 15px rgb(203, 25, 25);
    border-radius: 0 50px;
    transform: scale(1.1);
    width: 550px;
    margin-left: 40px;
  }
  
  .container .graduation:nth-of-type(2) {
    margin-left: calc(80% - 400px);
  }
  
  .marksheet{
    /* width: 150px; */
    /* height: 50px; */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(6, 104, 252);
    
    background: #000;
  }