html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
    overflow-y: auto; /* ✅ Fix Scrolling */
}

.container1> .section1 {
    /* width: 100%; */
    /* min-height: 100vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.footernav{
    display: none;
}
@media screen and (max-width:768px){
    .footernav{
        display:flex;
        position:fixed;
        top: 90%;
        width: 100%;
        /* border: 10px solid red; */
        
    }
    .footernav>ul{
        display: flex;
        list-style: none;
        margin: auto;
        gap: 50px;
    }
    .footernav>ul>li{
        box-shadow: 0px 0px 20px blue;
        border-radius: 0px 20px 0px 20px;
    }
    
}

